src/main/resources/wsdl/dataSourcePort.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ws.sample/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloService" targetNamespace="http://service.ws.sample/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.ws.sample/" elementFormDefault="unqualified" targetNamespace="http://service.ws.sample/" version="1.0">

  <xs:element name="data" type="tns:data"/>

  <xs:element name="delete" type="tns:delete"/>

  <xs:element name="deleteResponse" type="tns:deleteResponse"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findByDni" type="tns:findByDni"/>

  <xs:element name="findByDniResponse" type="tns:findByDniResponse"/>

  <xs:element name="findByName" type="tns:findByName"/>

  <xs:element name="findByNameResponse" type="tns:findByNameResponse"/>

  <xs:element name="readData" type="tns:readData"/>

  <xs:element name="readDataResponse" type="tns:readDataResponse"/>

  <xs:element name="sayHello" type="tns:sayHello"/>

  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="findByDni">
    <xs:sequence>
      <xs:element minOccurs="0" name="dni" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByDniResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="data">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="salary" type="xs:string"/>
      <xs:element minOccurs="0" name="dni" type="xs:string"/>
      <xs:element minOccurs="0" name="fecnac" type="xs:string"/>
      <xs:element minOccurs="0" name="direccion" type="xs:string"/>
      <xs:element minOccurs="0" name="ctacte" type="xs:string"/>
      <xs:element minOccurs="0" name="estadocivil" type="xs:string"/>
      <xs:element minOccurs="0" name="sexo" type="xs:string"/>
      <xs:element minOccurs="0" name="fecalta" type="xs:string"/>
      <xs:element minOccurs="0" name="categoria" type="xs:string"/>
      <xs:element minOccurs="0" name="tipocontrato" type="xs:string"/>
      <xs:element minOccurs="0" name="nsegsoc" type="xs:string"/>
      <xs:element minOccurs="0" name="numtel" type="xs:string"/>
      <xs:element minOccurs="0" name="fecbaja" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="readData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="readDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByNameResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:data"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByNameResponse">
    <wsdl:part element="tns:findByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createData">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readDataResponse">
    <wsdl:part element="tns:readDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByDni">
    <wsdl:part element="tns:findByDni" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readData">
    <wsdl:part element="tns:readData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByDniResponse">
    <wsdl:part element="tns:findByDniResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDataResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByName">
    <wsdl:part element="tns:findByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Hello">
    <wsdl:operation name="findByDni">
      <wsdl:input message="tns:findByDni" name="findByDni">
    </wsdl:input>
      <wsdl:output message="tns:findByDniResponse" name="findByDniResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createData">
      <wsdl:input message="tns:createData" name="createData">
    </wsdl:input>
      <wsdl:output message="tns:createDataResponse" name="createDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readData">
      <wsdl:input message="tns:readData" name="readData">
    </wsdl:input>
      <wsdl:output message="tns:readDataResponse" name="readDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <wsdl:input message="tns:findByName" name="findByName">
    </wsdl:input>
      <wsdl:output message="tns:findByNameResponse" name="findByNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByDni">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByDni">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByDniResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createData">
      <soap:operation soapAction="urn:SayHello" style="document"/>
      <wsdl:input name="createData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="readData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="readDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloService">
    <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
      <soap:address location="http://localhost:8080/datasource-ws/data"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>